@charset "utf-8";
body{
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(0, 0, 0);
}
p{
    color: rgb(0, 0, 0);
}
iframe{
    max-width: 100%;
}
img{
    max-width: 100%;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: red;
}
a:hover{
    text-decoration: underline;
    color: darkgray;
}
a:active{
    color: black;
}
.pulga{
    text-align: center;
}
.couto{
    text-align: center;
}
.fabricio{
    text-align: center;
}
.mbappe{
    text-align: center;
}
.logos{
    text-align: center;
}